@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #053830;
  color: #ffffff;
}

header {
  background-color:#053830; 
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 40px;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4CAF50;
}

.contact-btn {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #3e8e41;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
}

.hero-content {
  flex: 1;
  padding-right: 40px;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-content p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-images {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-images img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}